h2 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 14px;
}

main {
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1.5fr 1fr;
  padding: 2.5rem;
  column-gap: var(--space-8);

  .container {
    width: 100%;
    background-color: var(--color-white);
    margin-bottom: var(--space-6);
    border-style: solid;
    border-width: 0.0625rem;
    border-color: #e2e8f0;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.history {
  h4 {
    color: var(--muted-foreground);
    font-weight: 400;
    margin-bottom: 0.25rem;
    line-height: 16px;
  }

  p {
    line-height: 20px;
  }

  .clear-all-btn {
    all: unset;
    cursor: pointer;
    color: var(--muted-foreground);
    font-weight: bold;
    font-size: var(--font-size-xs);
  }

  .clear-all-btn:hover {
    color: var(--color-primary-400);
  }

  .hist-main {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .history-items {
    max-height: 242px;
    overflow-y: scroll;

    div {
      padding: var(--space-3);
      border-radius: var(--space-4);
    }

    div:hover,
    .active {
      background-color: rgba(87, 41, 255, 0.05);
    }

    .active {
      cursor: pointer;
      border-left: 2px solid var(--color-primary-500);
    }

    .answer {
      color: var(--color-primary-500);
      font-weight: bold;
    }
  }

  .full-history-btn {
    all: unset;
    cursor: pointer;
    border-style: dashed;
    padding: var(--space-3) 0;
    color: var(--muted-foreground);
    border-color: #e2e8f0;
    border-width: 0.125rem;
    border-radius: var(--radius-xl);
    font-weight: 500;
    text-align: center;
  }

  .full-history-btn:hover {
    border-color: var(--color-primary-500);
    color: var(--color-primary-500);
  }

  .converter {
    background-color: rgba(87, 41, 255, 0.05);
    border-style: solid;
    border-width: 0.0625rem;
    border-color: rgba(87, 41, 255, 0.1);

    h3 {
      color: var(--color-primary-500);
    }

    button {
      all: unset;
      cursor: pointer;
      background-color: var(--color-primary-500);
      border-radius: 1rem;
      color: white;
      padding: var(--space-2) 0;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      box-shadow:
        0px 4px 6px -1px rgba(87, 41, 255, 0.2),
        0px 2px 4px -2px rgba(87, 41, 255, 0.2);
      transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
    }

    button:hover {
      box-shadow: 0px 6px 6px -1px rgba(87, 41, 255, 0.2);
      transform: translateY(-2px);
    }
  }
}

.calculator {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 25px 50px -12px #e2e8f0;

  /* .cal-header {
  } */

  .type {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: var(--space-4);
  }

  .type:hover,
  .active {
    color: var(--color-primary-500);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: var(--color-primary-500);
  }

  .text-area {
    input {
      all: unset;
      width: 100%;
    }

    .result {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.45px;
      text-align: right;
      line-height: 28px;
      color: #94a3b8;
    }

    .expression {
      font-size: 60px;
      font-weight: bold;
      letter-spacing: -1.5px;
      color: #0f172a;
      text-align: right;
    }
  }

  .keypad button {
    all: unset;
    cursor: pointer;
    border-radius: var(--space-4);
    border-style: solid;
    color: #1e293b;
    border-color: #f1f5f9;
    border-width: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    height: 4rem;
    text-align: center;
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .keypad button:hover {
    background-color: #f1f5f9;
    border-color: #e2e8f0;
  }

  .keypad button:active {
    color: white;
    background-color: #29558fd2;
  }

  hr {
    border: none;
    border-top: 1px solid #e2e8f0;
    margin: var(--space-6) 0;
  }

  button:active {
    color: white;
    background-color: #29558fd2;
  }

  .advanced {
    .advanced-keypad {
      color: #1e293b;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }

    h3 {
      font-size: 12px;
      color: #94a3b8;
      padding-bottom: 1rem;
    }

    button {
      padding: 0.5rem 0;
      background-color: #f1f5f9;
      border-radius: 1rem;
      border-style: none;
      color: #475569;
      /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    }

    button:hover {
      background-color: #e2e8f0;
      color: #1e293b;
    }

    button:active {
      color: white;
      background-color: #29558fd2;
    }
  }

  /* .advanced,
  .advanced-keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  } */
}

.quick-convert {
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
  .section-heading {
    margin-bottom: var(--space-6);
  }

  .convert {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  h3 {
    color: var(--muted-foreground);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 16px;
    margin-bottom: 0.5313rem;
  }

  select {
    all: unset;
    background-color: #f8fafc;
    /* color: #6b7280; */
    padding: 0.7188rem;
    border-radius: 1.5rem;
    font-weight: 500;
  }

  select:hover {
    background-color: #e8e9eb;
  }

  hr {
    border: none;
    border-top: 1px solid #e2e8f0;
    margin-bottom: var(--space-6);
  }

  .container {
    padding: 1.5rem;
  }

  .convert-svg {
    background-color: var(--color-primary-500);
    border-radius: 9999px;
    padding: 8px;
    align-self: center;
  }

  .exchange-rate {
    .h4 {
      font-size: 12px;
      font-weight: bold;
      color: #e2e8f0;
      padding-bottom: 0.5rem;
      line-height: 16px;

      span {
        color: #5729ff;
      }
    }

    p {
      font-size: 20px;
      line-height: 28px;
      color: #0f172a;
      font-weight: bold;

      span {
        color: #5729ff;
        font-weight: bold;
      }
    }
  }
}

.charts {
  height: 10rem;
  font-size: 18px;
  line-height: 1.4063rem;
  gap: 0.625rem;
  font-weight: bold;
  color: white;
  background-color: rgba(87, 41, 255, 0.2);
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(rgba(87, 41, 255, 0.2)), url("../assets/pasted_image.png");

  a {
    font-size: 12px;
    line-height: 16px;
    color: white;
  }
}

.tool-tip {
  grid-column: 2;
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
  gap: 2.5px;

  span {
    background-color: #e2e8f0;
    padding: 0.0625rem 0.5rem;
    border-radius: 0.5rem;
  }
}
